In [194]:
import numpy as np
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.metrics import mean_squared_error, r2_score

In [210]:
model = Sequential([Dense(7, activation='relu', input_shape = (7,)), Dense(1, 'softmax')]) # making the model's blueprint
# we take the actiation layer to apply the softmax function to it to get the probability distribution of the classes to which the 
# given tuple of scores / the data point belongs to

In [113]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

print(train_df.shape, test_df.shape)

(709, 8) (315, 8)

In [114]:
from sklearn.preprocessing import LabelEncoder, normalize

In [115]:
train_df.info()
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 709 entries, 0 to 708
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Gender                     709 non-null    object
 1   Age                        709 non-null    int64
 2   openness                   709 non-null    int64
 3   neuroticism                709 non-null    int64
 4   conscientiousness          709 non-null    int64
 5   agreeableness              709 non-null    int64
 6   extraversion               709 non-null    int64
 7   Personality (Class label)  709 non-null    object
dtypes: int64(6), object(2)
memory usage: 44.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315 entries, 0 to 314
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Gender                     315 non-null    object
 1   Age                        315 non-null    int64
 2   openness                   315 non-null    int64
 3   neuroticism                315 non-null    int64
 4   conscientiousness          315 non-null    int64
 5   agreeableness              315 non-null    int64
 6   extraversion               315 non-null    int64
 7   Personality (class label)  315 non-null    object
dtypes: int64(6), object(2)
memory usage: 19.8+ KB

In [116]:
test_df.rename(columns={"Personality (class label)": "personality"}, inplace=True)

In [117]:
train_df.rename(columns={"Personality (Class label)":"personality"}, inplace = True)

In [182]:
label_enc = LabelEncoder() # using a label encoder for preprocessing
train_df['Gender'], test_df['Gender'] = label_enc.fit_transform(train_df['Gender']), label_enc.fit_transform(test_df['Gender'])
train_df['personality'], test_df['personality'] = label_enc.fit_transform(train_df['personality']), label_enc.fit_transform(test_df['personality'])

In [183]:
main_df = pd.concat([train_df, test_df], axis = 0)

In [184]:
for column in main_df:
    if column != 'personality' and column != 'Gender':
        u = max(main_df[column])
        l = min(main_df[column])
        main_df = main_df.astype({column:float})
        main_df[column] = (main_df[column] - l)/(u-l)

In [185]:
print(main_df.head(1024))

     Gender       Age  openness  neuroticism  conscientiousness  \
0         2  0.521739  0.857143        0.375              0.750
1         2  0.608696  0.428571        0.500              0.375
2         1  0.565217  0.857143        0.625              0.375
3         1  0.739130  0.571429        0.625              0.750
4         1  0.608696  0.857143        0.375              0.625
..      ...       ...       ...          ...                ...
310       0  0.608696  0.714286        0.500              0.625
311       1  0.565217  0.142857        0.500              0.875
312       1  0.565217  0.857143        0.500              0.625
313       1  0.782609  0.714286        0.750              0.500
314       0  0.565217  0.571429        0.750              0.250

     agreeableness  extraversion  personality
0         0.285714      0.142857            1
1         0.714286      0.714286            4
2         0.571429      0.571429            0
3         0.428571      0.285714            1
4         0.571429      0.428571            2
..             ...           ...          ...
310       0.428571      0.285714            1
311       0.285714      0.857143            0
312       0.142857      0.857143            4
313       0.428571      0.285714            1
314       0.571429      0.714286            1

[1024 rows x 8 columns]

In [186]:
main_df.sort_values('personality')

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion,personality
317,1,0.608696,0.714286,0.625,0.625,0.714286,0.428571,0
235,1,0.608696,0.714286,0.500,0.500,0.428571,0.714286,0
693,2,0.608696,0.428571,0.500,0.500,0.428571,0.571429,0
689,2,0.565217,0.857143,0.750,0.000,0.000000,0.428571,0
484,2,0.608696,0.285714,0.250,0.250,0.571429,0.428571,0
...,...,...,...,...,...,...,...,...
397,2,0.782609,0.000000,0.250,0.500,0.714286,0.428571,4
272,2,0.695652,0.857143,0.125,0.375,0.714286,0.428571,4
22,0,0.652174,0.428571,0.500,0.625,0.571429,0.571429,4
270,1,0.608696,0.714286,0.000,0.625,0.428571,0.714286,4
315,1,0.565217,0.428571,0.625,0.250,0.571429,0.428571,4

In [227]:
model.compile(
  optimizer='adam',
  loss='categorical_crossentropy',
  metrics=['accuracy'],
)

In [188]:
outputs = main_df['personality']
main_df.drop(['personality'], axis = 1, inplace=True)

In [228]:
model.fit(main_df, outputs, epochs = 10)

Epoch 1/10

C:\Users\samru\AppData\Local\Programs\Python\Python311\Lib\site-packages\tensorflow\python\util\dispatch.py:1260: SyntaxWarning: In loss categorical_crossentropy, expected y_pred.shape to be (batch_size, num_classes) with num_classes > 1. Received: y_pred.shape=(32, 1). Consider using 'binary_crossentropy' if you only have 2 classes.
  return dispatch_target(*args, **kwargs)

32/32 [==============================] - 1s 2ms/step - loss: 0.0000e+00 - accuracy: 0.2217
Epoch 2/10
32/32 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.2217
Epoch 3/10
32/32 [==============================] - 0s 2ms/step - loss: 0.0000e+00 - accuracy: 0.2217
Epoch 4/10
32/32 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.2217
Epoch 5/10
32/32 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.2217
Epoch 6/10
32/32 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.2217
Epoch 7/10
32/32 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.2217
Epoch 8/10
32/32 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.2217
Epoch 9/10
32/32 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.2217
Epoch 10/10
32/32 [==============================] - 0s 3ms/step - loss: 0.0000e+00 - accuracy: 0.2217